<div id="welcome" class="infinite-scroll-content infinite-scroll-top margin-bottom">
        <div>
            <img src="../assets/fonts/triangle.svg" alt="working" style="width:100vw">
        </div> 
            <div class="over">
            <img src="../assets/fonts/illustration.svg" alt="" >
            </div>
            <div class="center welcome_text">
                <h5>BEGIN YOU</h5>
                <p class="margin-left margin-right">With your ability to schedule an appointment with your dry-cleaner with the help of your fingers, getting clean and dry on time.</p> 
            </div>
            <div style="padding-left: 25vw; padding-right: 25vw; margin-top: 10vw;">
                <button class="col button button-big" style=" color:black" id="start">START</button>
            </div>
            
       
    </div>