<div class="page color-theme-white">
    <div class="home_width">
        <img src="../assets/fonts/wash logo blue@4x.png" alt=""  class="wash_logo">
    </div>
    <div class="over" style="margin-top:50vw">
        <img src="../assets/fonts/circle.svg" alt="" class="">
    </div>
</div>

