    <div>
        <p class="center" id="acct">Shows the details of your washjunkie's account</p>
            <div class="block">
              <div class="row balance_wallet">
                  <div class="card" style="width:100%">
                    <div class="col 50">
                        <div class="card-content center">
                            <p>Current Balance</p>
                            <P class="margin-top" style="color: #F5818E;" id="current-balance"></P>
                        </div>
                    </div>
                    <div class="col 50">
                        <div class="card-content center">
                            <p>Last Paid</p>
                            <p class="margin-top" style="color: #07C6CA;" id="last-deposit"></p>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="data-table"  style=" margin-bottom:100px" class="infinite-scroll-content infinite-scroll-top">
                <table>
                  <thead>
                    <tr class="table_font">
                      <th class="label-cell"> TRANSCATION HISTORY</th>
                      <th class="numeric-cell">MONTH</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- <tr>
                      <td class="label-cell"><p style=" color:#03C5C9;">Paid In <span style="color:black"><br>N45000</span> </p> </td>
                      <td class="numeric-cell"> <p>6:30pm <span><br> 29th May, 2018</span></p> </td>
                      
                    </tr>
                    <tr>
                        <td class="label-cell"><p style=" color:#F5818E;">Deducted <span style="color:black"><br>N4500</span> </p> </td>
                        <td class="numeric-cell"> <p>6:30pm <span><br> 29th May, 2018</span></p> </td>
                            
                    </tr>
                    <tr>
                        <td class="label-cell"><p style=" color:#F5818E;">Deducted <span style="color:black"><br>N4500</span> </p> </td>
                        <td class="numeric-cell"> <p>6:30pm <span><br> 29th May, 2018</span></p> </td>
                                
                    </tr>
                    <tr>
                        <td class="label-cell"><p style=" color:#03C5C9;">Paid In <span style="color:black"><br>N45000</span> </p> </td>
                        <td class="numeric-cell"> <p>6:30pm <span><br> 29th May, 2018</span></p> </td>
                            
                    </tr> -->
                   
                  </tbody>
                </table>
              </div>
    </div>